@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;

    .header {
        display: flex;
        justify-content: space-between;
        height: 100px;
        background-color: #F44E57;

        .elements {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            .icon img {
                margin: 20px;
                width: 80px;
                border-radius: 20px;
            }

            .title {
                color: white;
                font-weight: bold;
                font-size: 22px;
            }
        }

        .exit {
            background-color: rgba(0, 0, 0, 0);
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
        }
    }

    .login-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 900px;
        background-color: #ff000000;

        .tab-header {
            background-color: #F44E57;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px 20px 0px 0px;
            width: 300px;
            height: 70px;
            color: white;
            font-weight: bold;
            font-size: 25px;
        }

        .login-box {
            width: 500px;
            background-color: #993F40;
            border: 13px solid #F44E57;
            border-radius: 10px;
            padding: 40px;
            color: white;
            font-size: 22px;
            font-weight: bold;
            text-align: center;

            h2 {
                margin-bottom: 30px;
            }

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                label {
                    margin: 15px 0px 10px 0px;
                }

                input {
                    width: 400px;
                    color: #000000;
                    background-color: #FFC9C9;
                    height: 50px;
                    border: none;
                    border-radius: 30px;
                    padding: 0 20px;
                    font-size: 16px;
                }

                button {
                    margin-top: 40px;
                    background-color: #f5f5f5;
                    color: #F44E57;
                    border: none;
                    border-radius: 20px;
                    width: 180px;
                    height: 60px;
                    font-weight: bold;
                    font-size: 18px;
                    cursor: pointer;
                }

                button:hover {
                    background-color: #fff;
                    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
                }
            }

            a {
                display: inline-block;
                margin-top: 0px;
                text-decoration: none;
                color: white;
                font-weight: bold;
                background-color: #840000;
                border-radius: 20px;
                padding: 10px 30px;
                transition: 0.3s;
            }

            a:hover {
                background-color: #8f1717;
            }
        }
    }
}
