@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: "Montserrat", sans-serif;
    background-color: #f5f5f5;

    .header{
        display: flex;
        justify-content: space-between;
        height: 100px;
        background-color: #F44E57;
        .elements{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            .icon{
                img{
                    margin: 20px;
                    width: 80px;
                    border-radius: 20px;
                }
            }
            .title{
                color: white;
                font-weight: bold;
                font-size: 22px;
            }
        }
        .exit{
            background-color: rgba(0, 0, 0, 0);
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
        }

    }

    .register-container{
        background-color: #30303000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 900px;

        .tab-header{
            background-color: #F44E57;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            border-radius: 20px 20px 0px 0px;
            width: 500px;
            height: 70px;
            color: white;
            font-weight: bold;
            font-size: 25px;
            gap:20px;

            #tab-active{
                background-color: #893232;
                border: none;
                color: white;
                font-weight: bold;
                border-radius: 20px;
                width: 200px;
                height: 40px;
                font-size: 20px;
            }
            #tab{
                background-color: #840000;
                border: none;
                text-decoration: none;
                color: white;
                text-align: center;
                font-weight: bold;
                border-radius: 20px;
                width: 200px;
                height: 40px;
                font-size: 20px;
                line-height: 40px;
            }
        }

        .register-box{
            width: 900px;
            height: 700px;
            background-color: #993F40;
            border: 13px solid #F44E57;
            border-radius: 10px;
            padding: 10px;
            color: white;
            font-size: 25px;
            font-weight: bold;

            .row{
                background-color: #30303000;
                margin: 40px;
                
                input{
                color: #000000;
                background-color: #FFC9C9;
                height: 50px;
                border-radius: 30px;
                }
            }

            .boxbtn{
                display: flex;
                margin-top: 60px;
                background-color: #00000000;
                justify-content: center;
            }
            #create{
                background-color: #f5f5f5;
                color: #F44E57;
                border: none;
                border-radius: 20px;
                width: 180px;
                height: 60px;
                font-weight: bold;
            }
        }
    }
}